<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Them moi khach hang</title>
</head>
<body>
<form action="/customer/save" method="post" th:object="${customer}">
    <label for="">Id</label>
    <input type="text" th:field="*{id}">
    <label for="">Name</label>
    <input type="text" th:field="*{name}">
    <label for="">Age</label>
    <input type="number" th:field="*{age}">
    <button type="submit">Save</button>
</form>
</body>
</html>