<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="fragments::head"></div>
    <title>Thêm mới vị trí</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments::header"></div>
    <h3>Tạo mới vị trí</h3>
    <form action="/vitri/save" method="post" th:object="${viTri}">
        <div class="row">
            <div class="col-md-6">
                <label for="">Tên vị trí</label>
                <input class="form-control" type="text" th:field="*{tenViTri}">
            </div>
            <div class="col-md-6">
                <label for="">Mã vị trí</label>
                <input class="form-control" type="text" th:field="*{maViTri}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="">Khu</label>
                <input class="form-control" hidden type="text" th:value="${idKhu}" id="khu" name="khu"/>
                <input class="form-control" type="text" th:value="${tenKhu}" readonly>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <p></p>
                <button style="width: 100%" class="btn btn-primary" type="submit">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </div>
            <div class="col-md-2">
                <p></p>
                <a th:href="@{/khu/detail/{idKhu} (idKhu=${idKhu}) }">
                    <button style="width: 100%" class="btn btn-success" type="button">
                        <i class="fa fa-reply"></i> Cancel
                    </button>
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>