body{
    width: 70%;
    margin: auto;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    text-align: left;
}
td{
    height: 50px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
button{
    background-color:#50af50;
    color: white;
    width: 76px;
    height: 37px;
    border-radius: 7px;
    border: none;
}
input{
    height: 30px;
    width: 340px ;
}


label{
    float: left;
    width: 150px;
}