<!--<h3>Chỉnh sửa Entity</h3>-->
<!--<form [formGroup]="entityForm" (ngSubmit)="updateEntity()">-->
<!--  <div class="row">-->
<!--    <div class="col-6">-->
<!--      <div>-->
<!--        <label>Name</label>-->
<!--        <input type="text" formControlName="name">-->
<!--      </div>-->
<!--      <div>-->
<!--        <label>Lãi suất</label>-->
<!--        <select formControlName="laiSuat">-->
<!--          <option *ngFor=" let laiSuat of laiSuats" [value]="laiSuat">{{laiSuat}}</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div>-->
<!--        <label>Ngày</label>-->
<!--        <input type="date" formControlName="ngay">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-6">-->
<!--      <div>-->
<!--        <label>Child Entity</label>-->
<!--        <select formControlName="childEntity" [compareWith]="compareByID">-->
<!--          <option [selected]="childEntity.id===1" *ngFor="let childEntity of childEntities" [ngValue]="childEntity">-->
<!--            {{childEntity.id}}-{{childEntity.name}}-->
<!--          </option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  {{entityForm.value.childEntity.id}}-->
<!--  {{entityForm.value | json}}-->
<!--  <div class="row">-->
<!--    <div class="col-8">-->

<!--    </div>-->
<!--    <div class="col-2">-->
<!--      <button class="btn btn-success" (click)="closeDialogEdit()">Hủy bỏ</button>-->
<!--    </div>-->
<!--    <div class="col-2">-->
<!--      <button class="btn btn-primary" type="submit">Cập nhật</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->




