<div class="container">
<h3>Danh sách khách hàng</h3>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên KH</th>
      <th>Ngày sinh</th>
      <th>Số CMND</th>
      <th>Điện thoại</th>
      <th>Email</th>
      <th>Địa chỉ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.customerId}}</td>
      <td>{{customer.customerName}}</td>
      <td>{{customer.customerBirthday | date:'dd/MM/yyyy'}}</td>
      <td>{{customer.customerIdCard}}</td>
      <td>{{customer.customerPhone}}</td>
      <td>{{customer.customerEmail}}</td>
      <td>{{customer.customerAddress}}</td>
    </tr>
    </tbody>
  </table>
</div>
