<div class="container">
  <nav>
    <a [routerLink]="['/list']">
      Danh sach sinh vien
    </a>
  </nav>


  <form [formGroup]="studentForm" class="example-form">
    <mat-form-field class="input">
      <mat-label>ID</mat-label>
      <input matInput type="text" placeholder="1">
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="1" formControlName="name">
      <mat-error *ngIf="name.hasError('required')">
        Name is not empty
      </mat-error>
    </mat-form-field>
    <p>{{ studentForm.value | json }}</p>
  </form>

  <br>
  <br>
  <h3>Them moi sinh vien</h3>
  <!--  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">-->
  <!--    <div class="row">-->
  <!--      <div class="col-2">-->
  <!--        <label for="id">ID</label>-->
  <!--      </div>-->
  <!--      <div class="col-6">-->
  <!--        <div class="form-group">-->
  <!--          <input class="form-control" type="number" id="id">-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-4">-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="row">-->
  <!--      <div class="col-2">-->
  <!--        <label for="name">Name</label>-->
  <!--      </div>-->
  <!--      <div class="col-6">-->

  <!--        <div class="form-group">-->
  <!--          <input class="form-control" type="text" id="name" formControlName="name">-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-4">-->
  <!--        <span *ngIf="name.invalid && (name.dirty || name.touched)"-->
  <!--              class="alert alert-danger">-->
  <!--          <span *ngIf="name.errors?.['required']">-->
  <!--            Name is not empty.-->
  <!--          </span>-->
  <!--        </span>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="row">-->
  <!--      <div class="col-2">-->
  <!--        <label for="age">Age</label>-->
  <!--      </div>-->
  <!--      <div class="col-6">-->
  <!--        <div class="form-group">-->
  <!--          <input class="form-control" type="number" id="age" formControlName="age">-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-4">-->
  <!--        <span *ngIf="age.invalid && (age.touched || age.dirty)" class="alert alert-danger">-->
  <!--          <span *ngIf="age.errors?.['required']">-->
  <!--            Age is not empty-->
  <!--          </span>-->
  <!--          <span *ngIf="age.errors?.['min']">-->
  <!--            Age must greater than or equal 18-->
  <!--          </span>-->
  <!--        </span>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="row">-->
  <!--      <div class="col-2">-->
  <!--        <label for="mark">Mark</label>-->
  <!--      </div>-->
  <!--      <div class="col-6">-->
  <!--        <div class="form-group">-->
  <!--          <input class="form-control" type="number" id="mark" formControlName="mark">-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-4">-->
  <!--        <span *ngIf="mark.invalid && (mark.touched || mark.dirty)" class="alert alert-danger">-->
  <!--          <span *ngIf="mark.errors?.['required']">-->
  <!--            Mark is not empty-->
  <!--          </span>-->
  <!--          <span *ngIf="mark.errors?.['min']">-->
  <!--            Mark must greater than or equal 0-->
  <!--          </span>-->
  <!--          <span *ngIf="mark.errors?.['max']">-->
  <!--            Age must less than or equal 10-->
  <!--          </span>-->
  <!--        </span>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="row" formGroupName="phones">-->
  <!--      <div class="col-2">-->
  <!--        <label>Số điện thoại</label>-->
  <!--      </div>-->
  <!--      <div class="col-6">-->
  <!--        <div *ngFor="let control of phones.controls; index as i">-->
  <!--          <div class="row">-->
  <!--            <div class="col-3">-->
  <!--              <label> Phone {{i + 1}} </label>-->
  <!--            </div>-->
  <!--            <div class="col-9">-->
  <!--              <div class="form-group">-->
  <!--                <input class="form-control" id="" type="text" [formControlName]="i">-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <button (click)="addPhone()" type="button">+ Add phone number</button>-->
  <!--      </div>-->
  <!--      <div class="col-4">-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <h6>Address</h6>-->
  <!--    <div formGroupName="address">-->
  <!--      <div class="row">-->
  <!--        <div class="col-2">-->
  <!--          <label for="street">Street</label>-->
  <!--        </div>-->
  <!--        <div class="col-6">-->
  <!--          <div class="form-group">-->
  <!--            <input class="form-control" type="text" id="street" formControlName="street">-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="col-4"></div>-->
  <!--      </div>-->
  <!--      <div class="row">-->
  <!--        <div class="col-2">-->
  <!--          <label for="city">City</label>-->
  <!--        </div>-->
  <!--        <div class="col-6">-->
  <!--          <div class="form-group">-->
  <!--            <input class="form-control" type="text" id="city" formControlName="city">-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="col-4">-->
  <!--        </div>-->
  <!--      </div>-->

  <!--      <div class="row">-->
  <!--        <div class="col-2">-->
  <!--          <label for="state">State</label>-->
  <!--        </div>-->
  <!--        <div class="col-6">-->
  <!--          <div class="form-group">-->
  <!--            <input class="form-control" type="text" id="state" formControlName="state">-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="col-4">-->

  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row">-->
  <!--        <div class="col-2">-->
  <!--          <label for="zip">Zip</label>-->
  <!--        </div>-->
  <!--        <div class="col-6">-->
  <!--          <div class="form-group">-->
  <!--            <input class="form-control" type="text" id="zip" formControlName="zip">-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="col-4"></div>-->
  <!--      </div>-->
  <!--    </div>-->


  <!--    <p>{{ studentForm.value | json }}</p>-->

  <!--    <button class="btn btn-info" type="submit">Submit</button>-->
  <!--  </form>-->
</div>
