<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" style="height: 100vh">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="height: 100vh; display: flex;flex-direction: column;justify-content: center">
        <div style="border: 1px solid black">
          <h3 style="text-align: center;margin: 20px 0">ĐĂNG NHẬP</h3>
          <div class="row" style="margin: 10px 0">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <label>Tên đăng nhập</label>
            </div>
            <div class="col-md-6">
              <input type="text" style="width: 100%" formControlName="username">
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row" style="margin: 10px 0">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <label>Mật khẩu</label>
            </div>
            <div class="col-md-6">
              <input type="password" style="width: 100%" formControlName="password">
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row" style="margin: 10px 0">
            <div class="col-md-1"></div>
            <div class="col-md-4">
            </div>
            <div class="col-md-6">
              <input type="checkbox">
              <label>Nhớ mật khẩu</label>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin: 20px 0">
              <button class="btn btn-primary" style="width: 100%">Đăng nhập</button>
            </div>
            <div class="col-md-4"></div>
          </div>
          {{this.loginForm.value | json}}
          <p style="text-align: center">Hoặc</p>
          <div class="row" style="margin: 10px 0">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <a href="">
                <button class="btn btn-light" style="width: 100%">
                  <img src="images/icon-facebook.png" height="31" width="31"/>
                  Đăng nhập với Facebook
                </button>
              </a>
            </div>
            <div class="col-md-5">
              <a href="">
                <button class="btn btn-light" style="width: 100%">
                  <img src="images/icon-google.png" height="31" width="30"/>
                  Đăng nhập với Google
                </button>
              </a>
            </div>
            <div class="col-md-1"></div>
          </div>

        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>

</div>

</body>
</html>
