<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Xoa san pham</title>
</head>
<body>
<div class="container">
    <h3>Xoa khach hang</h3>
    <a th:href="@{/customer}">
        Danh sach khach hang
    </a>
    <form th:action="@{/customer/remove}" method="post" th:object="${customer}">
        <div class="form-group">
            <label for="">ID</label>
            <input type="text" class="form-control" th:field="*{id}">
            <label for="">TÊN</label>
            <input type="text" class="form-control" th:field="*{name}">

            <label for="">GIÁ</label>
            <input type="text" class="form-control" th:field="*{email}">

            <label for="">SỐ LƯỢNG</label>
            <input type="text" class="form-control" th:field="*{address}">
        </div>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> &nbsp; Remove</button>
    </form>
</div>
</body>
</html>