<!--<div class="container">-->
<!--  <h3>Chi tiết Entity</h3>-->
<!--  <div>-->
<!--    <span>ID:</span>-->
<!--    <span>{{data.id}}</span>-->
<!--  </div>-->
<!--  <div>-->
<!--    <span>Name:</span>-->
<!--    <span>{{data.name}}</span>-->
<!--  </div>-->
<!--  <div>-->
<!--    <span>Ngày:</span>-->
<!--    <span>{{data.ngay | date: 'dd/MM/yyyy'}}</span>-->
<!--  </div>-->
<!--  <div>-->
<!--    <span>Lãi suất:</span>-->
<!--    <span>{{data.laiSuat}}</span>-->
<!--  </div>-->
<!--  <div>-->
<!--    <span>ID Child:</span>-->
<!--    <span>{{data.childEntity.id}}</span>-->
<!--  </div>-->
<!--  <div>-->
<!--    <span>Name Child:</span>-->
<!--    <span>{{data.childEntity.name}}</span>-->
<!--  </div>-->
<!--  <div style="display: flex;justify-content: flex-end">-->
<!--    <button class="btn btn-success" (click)="closeDialogDetail()">Close</button>-->
<!--  </div>-->
<!--</div>-->
