
body{
    width: 80%;
    margin: auto;
}
label{
    float: left;
    width: 150px;
}
input{
    width: 150px;
}
select{
    width: 150px;
}
.main{
    display: flex;
    justify-content: space-between;
}
.inputinfo{
    background-color: cyan;
    width: 50%;
}
.displayinfo{
    background-color:#eeeeee;
    width: 50%;
}