<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="fragments::head"></div>
    <title>Danh sach khu</title>
</head>
<body>
<!--Danh sach mac dinh-->
<div class="container">
    <div class="row">
        <div class="col-md-3" th:if="${khuList}" th:each="khulist : ${khuList}" style="text-align: center">
            <div style="margin: 20px;position: relative">
                <a th:href="@{khu/detail/{idKhu} (idKhu=${khulist.idKhu}) }">
                    <div>
                        <img style="width: 120px;height: 120px ;border-radius: 10px; border: solid 1px  black">
                    </div>
                    <h5 style="text-transform: uppercase; padding-top: 10px" th:text="${khulist.tenKhu}"></h5>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <p></p>
            <a href="/khu/create">
                <button style="width: 100%" class="btn btn-primary">
                    Thêm mới
                </button>
            </a>
        </div>
        <div class="col-md-2">
            <p></p>
            <a href="">
                <button style="width: 100%" class="btn btn-success">
                    Cancel
                </button>
            </a>
        </div>
    </div>

</div>



</body>
</html>