<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Day la trang login</h3>
<form th:action="@{/j_spring_security_check}" method="post">
    <label for="">Username</label>
    <input type="text" name="username" value=''>
    <label for="">Password</label>
    <input type="text" name="password">
    <label for="">Remember Me</label>
    <input type="checkbox" name="remember-me"/>

    <button type="submit">Dang nhap</button>

</form>


</body>
</html>