*{
    box-sizing: border-box;
}
body {
    width: 95%;
    margin: auto;
}

label {
    float: left;
    width: 150px;
}

table {
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}

td {
    height: 50px;
}

button {
    background-color: #50af50;
    color: white;
    width: 76px;
    height: 37px;
    border-radius: 7px;
    border: none;
}
button:hover{
    background-color: dodgerblue;
}

input {
    height: 30px;
    width: 340px;
    margin-bottom: 5px;
    margin-right: 10px;
}
select{
    height: 35px;
    width: 100px;
    margin-right: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.layout{
    display: flex;

}
.error{
    display: flex;
    flex-direction: column;

}
.errornotify{
    font-size: 10px;
    color: red;
}
.main{
    position: relative;
}
#detailinfor{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: none;
    width: 500px;
    height: 200px;
    background-color: white;
}
.btnclose{
    position: absolute;
    right: 0px;
    bottom: 0px;

}
.input_icon{
    position: relative;
}
.icon{
    position: absolute;
    top: 7px;
    left: 7px;
    color: gray;
}

.input_icon input[type=text] {
    padding-left: 30px;
}
.input_icon input[type=text]:focus + i{
    color: #50af50;
}