*{
    margin: 0;
    padding: 0;
}
body{
    width: 70%;
    margin: auto;
    font-size: 14px;
}

.nav-menu{
    display: flex;
    list-style-type: none;
    width: 100%;
}
li{
    width: 20%;
    margin-right: 5px;
}
li:last-child{
    margin-right: 0px;
}
.nav-item{
    display: block;
    height: 30px;
    width: 100%;
    padding-top: 10px;
    background-color: #50af50;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    color: white;
}
.nav-item:hover{
    background: darkkhaki;
}

label{
    float: left;
    width: 200px;
}
input{
    width: 80%;
    height: 20px;
}
select{
    font-size: 12px;
    width: 80%;
    height: 25px;
}
span{
    color: red;
    font-size: 14px;
}
.btnadd{
    color: white;
    font-weight: bold;
    width: 120px;
    height: 37px;
    background-color: #50af50;
    border-radius: 7px;
    border: none;
    margin-bottom: 5px;
}
h3{
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
}
footer{
    height: 60px;
    background-color:#50af50 ;

}
table{
    text-align: left;
}
.abc{
  width: 80%;
   margin: auto;
}
.tbldisplay{
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    margin-bottom: 10px;
}