<h1>Danh sach tiet kiem</h1>
<button mat-raised-button color="primary" (click)="openDialogCreate()">Them moi tiet kiem</button>
<table mat-table [dataSource]="tietkiems" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="idkh">
    <th mat-header-cell *matHeaderCellDef> TeIDKH </th>
    <td mat-cell *matCellDef="let element">KH-{{element.khachHang.id}} </td>
  </ng-container>
  <ng-container matColumnDef="ten">
    <th mat-header-cell *matHeaderCellDef> Ten </th>
    <td mat-cell *matCellDef="let element"> {{element.khachHang.ten}} </td>
  </ng-container>
  <ng-container matColumnDef="ngaymoso">
    <th mat-header-cell *matHeaderCellDef> Ngay mo so </th>
    <td mat-cell *matCellDef="let element"> {{element.ngayMoSo | date:'dd/MM/yyyy'}} </td>
  </ng-container>
  <ng-container matColumnDef="ngaybatdau">
    <th mat-header-cell *matHeaderCellDef> Ngay bat dau </th>
    <td mat-cell *matCellDef="let element"> {{element.ngayBatDau | date: 'dd/MM/yyyy'}} </td>
  </ng-container>
  <ng-container matColumnDef="kyhan">
    <th mat-header-cell *matHeaderCellDef> Ky han </th>
    <td mat-cell *matCellDef="let element"> {{element.kyHan.ten}} </td>
  </ng-container>
  <ng-container matColumnDef="sotien">
    <th mat-header-cell *matHeaderCellDef> So tien </th>
    <td mat-cell *matCellDef="let element"> {{element.soTien | number}} </td>
  </ng-container>
  <ng-container matColumnDef="laisuat">
    <th mat-header-cell *matHeaderCellDef> Lai suat </th>
    <td mat-cell *matCellDef="let element"> {{element.laiSuat}} </td>
  </ng-container>
  <ng-container matColumnDef="uudai">
    <th mat-header-cell *matHeaderCellDef> Uu dai </th>
    <td mat-cell *matCellDef="let element"> {{element.uuDai}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Uu dai </th>
    <td mat-cell *matCellDef="let element">
    <button mat-raised-button color="primary" (click)="openDialogDetail(element)">Chi tiet</button>
      <span>&nbsp;</span>
    <button mat-raised-button color="accent" (click)="openDialogEdit(element)">Sửa</button>
      <span>&nbsp;</span>
      <button mat-raised-button color="warn" (click)="openDialogDelete(element)">Xoa</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


