<h1 mat-dialog-title>Chi tiet tiet kiem</h1>
<mat-dialog-content>
  <p>
  <span>ID: </span> {{data.id }}
  </p>
  <p>
    <span>IDKH: </span> {{data.khachHang.id }}
  </p>
  <p>
    <span>Ten: </span> {{data.khachHang.ten }}
  </p>
  <p>
    <span>Ngay mo so: </span> {{data.ngayMoSo }}
  </p>
  <p>
    <span>Ngay bat dau: </span> {{data.ngayBatDau }}
  </p>
  <p>
    <span>Ky Han </span> {{data.soTien }}
  </p>
  <p>
    <span>So tien: </span> {{data.soTien }}
  </p>
  <p>
    <span>Lai suat: </span> {{data.laiSuat }}
  </p>
  <p>
    <span>Uu dai: </span> {{data.uuDai }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
