<div class="container">
  <h3>Danh sach tiet kiem</h3>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-1">ID</div>
    <div class="col-2">
      <input type="text" [(ngModel)]="id">
    </div>
    <div class="col-1">Ten KH</div>
    <div class="col-2">
      <input type="text" [(ngModel)]="name">
    </div>
    <div class="col-2"></div>
    <div class="col-2" (click)="searchTietKiem()">
      <button class="btn btn-primary">Tim kiem</button>
    </div>


  </div>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Ma so so</th>
      <th>Ma khach hang</th>
      <th>Ten khach hang</th>
      <th>Ngay mo so</th>
      <th>Thoi gian bat dau</th>
      <th>Ky han</th>
      <th>So tien gui</th>
      <th>Lai suat</th>
      <th>Uu dai</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tietkiem of tietKiems | paginate: { itemsPerPage: 2, currentPage: p }">
      <td>{{tietkiem.id}}</td>
      <td>{{tietkiem.khachHang.id}}</td>
      <td>{{tietkiem.khachHang.ten}}</td>
      <td>{{tietkiem.ngayMoSo | date: 'dd/MM/yyyy'}}</td>
      <td>{{tietkiem.ngayBatDau | date: 'dd/MM/yyyy'}}</td>
      <td>{{tietkiem.kyHan.thoigian}}</td>
      <td>{{tietkiem.soTien | number}}</td>
      <td>{{tietkiem.laiSuat}}</td>
      <td>{{tietkiem.uuDai}}</td>
      <td>
        <button class="btn btn-warning" [routerLink]="['/tietkiem/edit',tietkiem.id]">Sửa</button>
        <span>&nbsp;</span>
        <button class="btn btn-danger">Xóa</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
