<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="fragments::head"></div>
    <title>Danh sách hộ gia đình</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments::header"></div>
    <h5>DANH SÁCH HỘ GIA ĐÌNH</h5>
    <form action="/hogiadinh/search" method="get">
        <div class="row" style="display: flex;align-items: center">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1">Tên</div>
            <div class="col-md-2">
                <input class="form-control" th:name="chuhoten" th:value="${chuhoten}"  type="text">
            </div>
            <div class="col-md-1">Đường</div>
            <div class="col-md-2">
                <select  class="form-control" name="duongid" id="" th:value="${duongid}" >
                    <option value="">Chọn tên đường</option>
                    <option th:if="${duongid}==${duonglist.duongId}" selected th:each="duonglist:${duongList}" th:text="${duonglist.tenDuong}" th:value="${duonglist.duongId}"></option>
                    <option th:unless="${duongid}==${duonglist.duongId}"  th:each="duonglist:${duongList}" th:text="${duonglist.tenDuong}" th:value="${duonglist.duongId}"></option>
                </select>
            </div>
            <div class="col-md-1">
                <p></p>
            </div>
            <div class="col-md-2" >
                <button style="width: 100%" type="submit" class="btn btn-primary btn-big">Tìm kiếm</button>
            </div>
        </div>
    </form>


    <h4>Danh sách hộ</h4>
    <div class="row">
        <div class="col-md-3">
            <a href="/hogiadinh/create">
                <button style="width: 100%" class="btn btn-success btn-big">Thêm mới hộ</button>
            </a>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>

    <p style="color: red;font-style: italic" th:if="${msg}" th:text="${msg}"></p>
    <div class="row">
<!--        Danh sach mac dinh-->
        <div class="col-md-3" th:if="${hoGiaDinhList}" th:each="hogiadinhlist : ${hoGiaDinhList}" style="text-align: center">
            <div style="margin: 20px;position: relative">
                <a th:href="@{/hogiadinh/detail/{hogiadinhid} (hogiadinhid=${hogiadinhlist.hoGiaDinhId})}"
                   style="text-decoration: none">
                    <div>
                        <img style="width: 120px;height: 120px ;border-radius: 10px; border: solid 1px  black">
                    </div>
                    <h5 style="text-transform: uppercase; padding-top: 10px" th:text="${hogiadinhlist.hoGiaDinhTen}"></h5>
                    <p th:text="${hogiadinhlist.soNha}+ ' ' + ${hogiadinhlist.duong.tenDuong}"></p>
                </a>
            </div>
        </div>
<!--        Danh sach tim kiem-->
        <div class="col-md-3" th:if="${hoGiaDinhListSearch}" th:each="hogiadinhlistsearch : ${hoGiaDinhListSearch}" style="text-align: center">
            <div style="margin: 20px;position: relative">
                <a th:href="@{/hogiadinh/detail/{hogiadinhid} (hogiadinhid=${hogiadinhlistsearch.hoGiaDinhId})}"
                   style="text-decoration: none">
                    <div>
                        <img style="width: 120px;height: 120px ;border-radius: 10px; border: solid 1px  black">
                    </div>
                    <h5 style="text-transform: uppercase; padding-top: 10px" th:text="${hogiadinhlistsearch.hoGiaDinhTen}"></h5>
                    <p th:text="${hogiadinhlistsearch.soNha}+ ' ' + ${hogiadinhlistsearch.duong.tenDuong}"></p>
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>